Loading *watermark* extension and printing details about running platform.

## Quick Exploration of Svebolle Deployment

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
PROJ_ROOT = os.path.abspath(os.path.join(os.pardir))
print(PROJ_ROOT)

/home/alk/Github/lora-time-series

In [2]:
DATASET_PATH = 'data/raw'

In [3]:
data_fname = os.path.join(PROJ_ROOT, DATASET_PATH, 'LORA_data.csv')
dframe = pd.read_csv(data_fname, header=0, sep=';')
dframe.head()

,Time,DevAddr,Freq,Chan,BW,SPF,RSSI,SNR,4/5,dataRate,crcStatus,mType,macPayload,_id
0,2017-01-02 12:08:27.788000,000013c1,868100000,0,125,7,-120,-1.0,4/5,"{u'modulation': u'LORA', u'bandwidth': 125, u'...",1,Confirmed Data Up,c1130000804605039977d43d70b12724eea946c5a41f42...,586a34acb5866106ea976eb5
1,2017-01-02 12:08:29.196000,000013b8,868500000,2,125,7,-58,6.5,4/5,"{u'modulation': u'LORA', u'bandwidth': 125, u'...",1,Confirmed Data Up,b813000000142b0352619fc9a89e0e561d060ca3ac29e5...,586a34aeb5866106ea976eb6
2,2017-01-02 12:08:44.520000,000013bf,868300000,1,125,7,"-118,8",-1.8,4/5,"{u'modulation': u'LORA', u'bandwidth': 125, u'...",1,Confirmed Data Up,bf13000080ba30042ea26888992702442c832fc2c8ac91...,586a34bdb5866106ea976eb7
3,2017-01-02 12:08:55.347000,000013bf,868500000,2,125,7,-115,1.8,4/5,"{u'modulation': u'LORA', u'bandwidth': 125, u'...",1,Confirmed Data Up,bf13000080bb30030a96702f4ebe2cfe8559765a622344...,586a34c8b5866106ea976eb8
4,2017-01-02 12:08:55.346000,000013bf,868500000,2,125,7,-115,1.8,4/5,"{u'modulation': u'LORA', u'bandwidth': 125, u'...",1,Confirmed Data Up,bf13000080bb30030a96702f4ebe2cfe8559765a622344...,586a34c8b5866106ea976eb9

In [4]:
data = dframe.copy()

In [5]:
data = data[['Time', 'DevAddr']]
data.head()

                         Time   DevAddr
0  2017-01-02 12:08:27.788000  000013c1
1  2017-01-02 12:08:29.196000  000013b8
2  2017-01-02 12:08:44.520000  000013bf
3  2017-01-02 12:08:55.347000  000013bf
4  2017-01-02 12:08:55.346000  000013bf

## Feature Engineering

In [6]:
def remove_ns(data):
    Time = list(data.Time.values)
    Time_parsed = []
    sep = '.'
    for t in Time:
        t_parsed = t.split(sep, 1)[0]
        Time_parsed.append(t_parsed)
    data.Time = Time_parsed
    data['Time'] = pd.to_datetime(data['Time'])
    return data
        
dev1 = remove_ns(data)
dev1.head()

                 Time   DevAddr
0 2017-01-02 12:08:27  000013c1
1 2017-01-02 12:08:29  000013b8
2 2017-01-02 12:08:44  000013bf
3 2017-01-02 12:08:55  000013bf
4 2017-01-02 12:08:55  000013bf

In [7]:
dev1 = data[data.DevAddr == '000013c1']
dev1.head()

                  Time   DevAddr
0  2017-01-02 12:08:27  000013c1
8  2017-01-02 12:09:29  000013c1
16 2017-01-02 12:11:29  000013c1
18 2017-01-02 12:12:27  000013c1
25 2017-01-02 12:13:29  000013c1

In [8]:
dev1 = dev1.reset_index(drop=True)
dev1

                      Time   DevAddr
0      2017-01-02 12:08:27  000013c1
1      2017-01-02 12:09:29  000013c1
2      2017-01-02 12:11:29  000013c1
3      2017-01-02 12:12:27  000013c1
4      2017-01-02 12:13:29  000013c1
5      2017-01-02 12:14:26  000013c1
6      2017-01-02 12:15:29  000013c1
7      2017-01-02 12:16:27  000013c1
8      2017-01-02 12:17:29  000013c1
9      2017-01-02 12:18:27  000013c1
10     2017-01-02 12:19:29  000013c1
11     2017-01-02 12:20:43  000013c1
12     2017-01-02 12:20:59  000013c1
13     2017-01-02 12:21:29  000013c1
14     2017-01-02 12:22:43  000013c1
15     2017-01-02 12:22:43  000013c1
16     2017-01-02 12:23:29  000013c1
17     2017-01-02 12:24:43  000013c1
18     2017-01-02 12:25:29  000013c1
19     2017-01-02 12:26:43  000013c1
20     2017-01-02 12:27:29  000013c1
21     2017-01-02 12:27:29  000013c1
22     2017-01-02 12:29:29  000013c1
23     2017-01-02 12:31:17  000013c1
24     2017-01-02 12:31:29  000013c1
25     2017-01-02 12:33:29  000013c1
26     2017-01-02 12:35:29  000013c1
27     2017-01-02 12:35:50  000013c1
28     2017-01-02 12:35:59  000013c1
29     2017-01-02 12:37:29  000013c1
...                    ...       ...
168107 2017-05-16 07:51:49  000013c1
168108 2017-05-16 07:52:19  000013c1
168109 2017-05-16 07:52:55  000013c1
168110 2017-05-16 07:53:49  000013c1
168111 2017-05-16 07:54:55  000013c1
168112 2017-05-16 07:55:49  000013c1
168113 2017-05-16 07:56:55  000013c1
168114 2017-05-16 07:57:49  000013c1
168115 2017-05-16 07:58:55  000013c1
168116 2017-05-16 07:59:49  000013c1
168117 2017-05-16 08:00:55  000013c1
168118 2017-05-16 08:01:49  000013c1
168119 2017-05-16 08:03:49  000013c1
168120 2017-05-16 08:04:55  000013c1
168121 2017-05-16 08:05:49  000013c1
168122 2017-05-16 08:06:55  000013c1
168123 2017-05-16 08:06:55  000013c1
168124 2017-05-16 08:07:19  000013c1
168125 2017-05-16 08:07:49  000013c1
168126 2017-05-16 08:08:55  000013c1
168127 2017-05-16 08:08:55  000013c1
168128 2017-05-16 08:10:55  000013c1
168129 2017-05-16 08:11:49  000013c1
168130 2017-05-16 08:12:54  000013c1
168131 2017-05-16 08:13:49  000013c1
168132 2017-05-16 08:14:55  000013c1
168133 2017-05-16 08:15:49  000013c1
168134 2017-05-16 08:17:49  000013c1
168135 2017-05-16 08:19:11  000013c1
168136 2017-05-16 08:19:49  000013c1

[168137 rows x 2 columns]

In [10]:
dev1['diff'] = dev1.Time.diff()

In [11]:
dev1.dropna(inplace=True)

In [ ]:
dev1 = dev1.Time

In [ ]:
dev1

In [ ]:
dev1_clean = dev1.drop_duplicates(keep='last')

In [ ]:
dev1_clean

In [ ]:
type(dev1_clean)

In [ ]:
df = pd.DataFrame({'Time':dev1_clean.values})

In [ ]:
df['Active'] = 1

In [ ]:
df = df.set_index('Time')

In [ ]:
df.index = pd.to_datetime(df.index)
df

In [ ]:
df_temp = df.resample('1S').asfreq()

In [ ]:
df_temp.fillna(0)

# LSTM

In [ ]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers.core import Dense, Activation, Dropout
from keras.layers import Dense
from keras.layers import LSTM
from keras import backend as K
import numpy as np
from sklearn.model_selection import cross_validate
from sklearn.metrics import mean_squared_error

K.set_session(K.tf.Session(config=K.tf.ConfigProto(intra_op_parallelism_threads=3, inter_op_parallelism_threads=3)))

In [ ]:
def timeDelay(data, delay):
    X_data, y_data = [], []
    
    for i in range(delay, len(data)):
        X_data.append(data[i-delay: i].tolist())
    X_data = np.array(X_data)
    y_data = data[delay:]
    return np.reshape(X_data, (X_data.shape[0], X_data.shape[1], 1)),\
           np.reshape(y_data, (len(y_data), ))

In [ ]:
def split(X, y, ratio):    
    test_split = int(len(X) * ratio)
    
    X_train, y_train = X[:test_split], y[:test_split]
    X_test, y_test = X[test_split:], y[test_split:]
    return X_train, y_train, X_test, y_test

In [ ]:
X, y = timeDelay(df_temp.Active.values, 5) # train test
ratio = 0.8 # train-test ratio
window_size = 5 # delay

X_train, y_train, X_test, y_test = split(X, y, ratio)

In [ ]:
model = Sequential()
model.add(LSTM(50, input_shape=(window_size, 1))) # 50 neurons
model.add(Dropout(0.2))
model.add(Dense(1))
model.add(Activation('linear'))
model.compile(loss='mse', optimizer='adam')

In [ ]:
history = model.fit(X_train, y_train, 
                        epochs=20, 
                        batch_size=32, 
                        validation_data=(X_test, y_test), 
                        verbose=2, 
                        shuffle=False)

In [ ]:
# generate predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)
import math

# Estimate model performance
trainScore = model.evaluate(X_train, y_train, verbose=0)
print('Train Score: %.2f MSE (%.2f RMSE)' % (trainScore, math.sqrt(trainScore)))
testScore = model.evaluate(X_test, y_test, verbose=0)
print('Test Score: %.2f MSE (%.2f RMSE)' % (testScore, math.sqrt(testScore)))